<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="username">お名前</label>
        <input type="text" name="username" placeholder="お名前（ローマ字）">
        <label for="password">パスワード</label>
        <input type="password" name="password" placeholder="パスワード">
        <button type="submit">ログイン</button>
    </form>
</body>
</html>