<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録</title>
</head>
<body>
    <form action="/signup" method="POST">
        <label for="name">お名前</label>
        <input type="text" name="name" placeholder="お名前（ローマ字で記入してください）" required>
        <label for="password">パスワード</label>
        <input type="password" name="password" placeholder="お好きなパスワード（ローマ字と数字と記号を組み合わせて決めてください）" required>
        <input type="submit" value="登録">
    </form>
</body>
</html>