<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ようこそ、<%= user.name %>さん</title>
</head>
<body>
    <a href="/index/<%= user.user_id %>"><h1>やることリストを見る</h1></a>
</body>
</html>